{% extends "base.html" %} {% block content %}
<h2>Welcome to Vintage Story Server Query</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ RESP['serverName'] }}</h5>
        <h5 class="card-title">
            Current Date: Y{{RESP['date'].Year}} / {{RESP['date'].Month}}
        </h5>
        <h6 class="card-title">
            Current Weather: Temp: {{RESP['weather'].Temperature|round }}˚C {%
            if RESP['weather'].Rainfall == 0 %} Not Raining {% else %} Raining
            {% endif %}
        </h6>
        <h6 class="card-title">Max players: {{ RESP['maxClients'] }}</h6>
        <p class="card-text">Server Message: {{RESP['welcomeMessage']}}</p>

        <p>Players:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Health</th>
                    <th>Hunger</th>
                    <th>Wetness</th>
                    <th>Body Temp</th>
                    <th>Temp</th>
                </tr>
            </thead>
            <tbody>
                {% for player in RESP['players'] %}
                <tr>
                    <td>{{player['Name']}}</td>
                    <td>
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                role="progressbar"
                                aria-valuenow="{{player['Health'].Current}}"
                                aria-valuemin="0"
                                aria-valuemax="{{player['Health'].Max}}"
                                style="width: {{ player['Health'].Current/player['Health'].Max * 100 }}%"
                            >
                                {{
                                (player['Health'].Current/player['Health'].Max *
                                100)|round }}%
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                role="progressbar"
                                aria-valuenow="{{player['Hunger'].Current}}"
                                aria-valuemin="0"
                                aria-valuemax="{{player['Hunger'].Max}}"
                                style="width: {{ player['Hunger'].Current/player['Hunger'].Max * 100 }}%"
                            >
                                {{
                                (player['Hunger'].Current/player['Hunger'].Max *
                                100)|round }}%
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-striped progress-bar-animated"
                                role="progressbar"
                                aria-valuenow="{{player['Wetness']}}"
                                aria-valuemin="0"
                                aria-valuemax="1"
                                style="width: {{ player['Wetness'] * 100 }}%"
                            >
                                {{ (player['Wetness'] * 100)|round }}%
                            </div>
                        </div>
                    </td>
                    <td>{{player['BodyTemp']}}˚C</td>
                    <td>{{player['Temperature']|round}}˚C</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="accordion" id="serverInfoAccordion3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                    >
                        Mods ({{ RESP['mods']|length }})
                    </button>
                </h2>
                <div
                    id="collapseThree"
                    class="accordion-collapse collapse hide"
                    aria-labelledby="headingThree"
                    data-bs-parent="#serverInfoAccordion3"
                >
                    <div class="accordion-body">
                        {% for mod in RESP['mods'] %}
                        <ul>
                            <li>Name: {{mod['Name']}}</li>
                            <li>Version: {{mod['Version']}}</li>
                            <li>Description: {{mod['Description']}}</li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>Version: {{ver}}</footer>
{% endblock %}
